#setting2{
  background-color: white;
  width: 400px;
  margin: auto;
  position: relative;
  top: 10px;
  padding:10px;
  border: 2px orange solid;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
}
#titlechangepassword{
  text-align: center;
  color: black;
}
#passwordsettinglist{
  list-style-type: none;
  margin: auto;
  margin-top: 20px;
}
.passwordsettings{
  width: 300px;
  height: 40px;
}