input {
  display: none;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;

}

#tab1:checked ~ #Features,
#tab2:checked ~ #Rooms{
  display: block;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
 
div.listE {
	border-style: solid;
	border-left-color: orange ;
	border-right-color: orange;
	border-top-color: white;
	border-bottom-color: white;
	width: 200px;

}

