#featurecontent{
  background-color: white;
  border-radius:10px;
  border-color: orange;
  border-style: solid;
  padding: 10px;
  width: 300px;
  margin: auto;
  color: black;
  text-align: center;
  font-family: "Arial", sans-serif;
  vertical-align: top;
}
#dashboardcontent{
  background-color: white;
  border-radius:10px;
  border-color: orange;
  border-style: solid;
  padding: 10px;
  width: 300px;
  margin: auto;
  color: black;
  text-align: center;
  font-family: "Arial", sans-serif;
  vertical-align: top;
}
#featurecontentlist{
	text-align: left;
	margin-top: 30px;
	list-style-type: none;
}
#dashboardcontentlist{
	text-align: left;
	margin-top: 30px;
}
.featurecontent{
	float: left;
	list-style-type: none;
}
.dashboardcontent{
	float: left;
	list-style-type: none;
}
.featureelement{
	list-style-type: none;
	margin: 10px;
}
.featureelement:hover{
	cursor: pointer;
	background-color: orange;
	color: white;
}
.dashboardelement{
	list-style-type: none;
	margin: 20px;
}
.dashboardelement:hover{
	cursor: pointer;
	background-color: orange;
	color: white;
	visibility: visible;
}
.arrow{
	margin-right: 20px;
}