body{
	background-image: url(villa.jpg);
	background-repeat: no-repeat;
}
form{
	background-color: white;
	width: 400px;
	margin: auto;
	position: relative;
	top: 20px;
	padding:10px;
	border: 5px orange solid;
	border-radius: 30px;
 	color: orange;
	font-family: "Arial", sans-serif;	
 }
 h1{
 	text-align: center;
 }
 input{
 	padding: 5px;
 	margin-left: 10px;
 }
 input[type=submit]{
 	width: 100px;
 	border-radius: 10px;
 	font-family: "Arial", sans-serif;
 	font-size: 20px;
 	color: white
 }
 .user.password{
 	text-align: left;
 }
 .login{
 	margin-top: 20px;
 	margin-bottom: 20px;
 	position: relative;
 	text-align: center;
 }
 #login{
 	background-color: orange;
 }
 .password{
 	margin-top: 10px;
 }
 .logo{
 	display: block;
 	margin: auto;
 }
 #loginpagetable{
 	margin: auto;
 }
