  .navbar{
    padding: 10px; 
    text-align: center;
    margin: auto;
    width: 600px;
    height: 60px;
    border-radius: 10px;

  }

  .tabcontent{
    display: none;
    line-height: 50px;
  }

  .tablinks{
    display: inline-block;
    color:orange;
    padding: 15px 25px; 
    font-weight: 600; 
    text-align: center;
    border: none;
    margin: 0 0 0 30px;
  }

  .tablinks:hover {/* Enables hovering highligth */
      border: 2px solid;
      border-radius: 10px;
      cursor: pointer;
      background: orange;
      color: #fff;
  }
  .tablinks:checked + label {
      background: orange; color: #fff;
  }

  h1 {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    padding:20px;

    }

  .navbar2{
    /*display: inline-block;*/
    padding: 1px;
    text-align: center;
    margin: auto;
    border: 2px orange solid;
    color: orange;
  }
  .subtab{
    display:none;
  }
  .subtablinks{
    line-height: 50px;
  }
  .subtablinks:hover {/* Enables hovering highligth */
      cursor: pointer;
      color: orange;
  }

  .content{
    display: inline-block;
    width:20%;
  }