.room_element {
    padding: 10px;
    border: 2px orange solid;
    color: orange;
    float: left;
    min-width: 10px;
    /*max-width: 100px;*/
    height: auto;
    background-color: white;
    overflow: hidden;
    text-align: left;
    margin: 10px;


}

.subtablinks_rooms{
    line-height: 50px;
    font-family: "Arial", sans-serif;
    width: 200px;

}
.subtablinks_rooms:hover {/* Enables hovering highligth over subtab links */
      cursor: pointer;
      background: orange;
      color: #fff;

}


.element {
  background-color: white;
  /*border-radius:10px;*/
  border-color: orange;
  border-style: solid;
  padding: 10px;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  color: black;
  text-align: left;
  font-family: "Arial", sans-serif;
  border: 2px orange solid;
  display: inline-block;
  /*margin: auto;*/
}

#info {
    min-width: 350px;
    min-height: 200px;
}

