#shuttersbox{
  background-color: white;
  border-radius:10px;
  border-color: orange;
  border-style: solid;
  padding: 10px;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  color: black;
  text-align: center;
  font-family: "Arial", sans-serif;
  vertical-align: top;
}
#open,#closed{
  margin-right: 10px;
  margin-left: 10px;
}
.open,.closed{
margin-right: 20px;
margin-left: 20px;
}
#shuttercheckbox{
  margin-bottom: 20px;
}
#checkboxlabel{
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}
#houseshutters{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
#roomshutters{
  margin-left: 20px;
}
#shutterrooms{
  display: none;
}
.hr{
  margin: auto;
  width: auto;
  height: 2px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#shutterreset{
  width: 80px;
  height: 30px;
  color: white;
  background-color: #ffb833;
  border: outset;
  border-radius: 10px;
}
#shutterapply{
  width: 80px;
  height: 30px;
  color: white;
  background-color: #ffb833;
  margin-left: 50px;
  border: outset;
  border-radius: 10px;
}
#shutterlink{
  color: orange;
  text-align: center;
  text-decoration: underline;
}
#shutterlink:hover{
  cursor: pointer;
}