#temperaturebox{
  background-color: white;
  border-radius:10px;
  border-color: orange;
  border-style: solid;
  padding: 10px;
  width: 400px;
  margin: auto;
  color: orange;
  text-align: left;
  font-family: "Arial", sans-serif;
  vertical-align: top;
}
#boxheader{
	text-align: center;
}
#housetemp{
	margin-left: 50px;
}
.checkbox{
	margin-bottom: 20px;
	margin-left: 10px;
}
.checkboxlabel{
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
}
#temprooms{
	display: none;
}
#tempreset{
	width: 80px;
	height: 30px;
	color: white;
	background-color: orange;
	margin-left: 80px;
	border: outset;
	border-radius: 10px;
}
#tempapply{
	width: 80px;
	height: 30px;
	color: white;
	background-color: orange;
	margin-left: 70px;
	border: outset;
	border-radius: 10px;
}
.buttons{
	margin-top: 20px;
}
#stepper{
	margin-top: 15px;
	margin-bottom: 10px;
  	font-family: "Comic sans MS";
  	text-align: center;
  	width: 70px;
  	margin-left: 20px;
}
.stepper{
	margin-top: 15px;
	margin-bottom: 10px;
  	font-family: "Comic sans MS";
  	text-align: center;
  	width: 70px;
  	margin-left: 100px;
}
.hr{
	margin: auto;
	width: auto;
}
#target{
	text-align: center;
}
#custom{
	margin-left: 40px;
	margin-top: 10px;
}