#temperaturebox{
  background-color: orange;
  border-radius:10px;
  padding: 10px;
  width: 400px;
  color: white;
  text-align: left;
  font-family: "Arial", sans-serif;
}
#boxheader{
	text-align: center;
}
#housetemp{
	margin-left: 50px;
}
.checkbox{
	margin-bottom: 20px;
	margin-left: 30px;
}
#checkboxlabel{
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.rooms{
	display: none;
}
#reset{
	width: 80px;
	height: 30px;
	color: black;
	background-color: white;
	margin-left: 80px;
	border: outset;
	border-radius: 10px;
}
#apply{
	width: 80px;
	height: 30px;
	color: black;
	background-color: white;
	margin-left: 50px;
	border: outset;
	border-radius: 10px;
}
#buttons{
	margin-top: 20px;
}
#stepper{
	margin-top: 15px;
	margin-bottom: 10px;
  	font-family: "Comic sans MS";
  	text-align: center;
  	width: 70px;
  	margin-left: 20px;
}
.stepper{
	margin-top: 15px;
	margin-bottom: 10px;
  	font-family: "Comic sans MS";
  	text-align: center;
  	width: 70px;
  	margin-left: 100px;
}
.hr{
	margin: auto;
	width: auto;
}