.header{
	background-color: white;
	border: 5px orange solid;
	display: inline-block;
	width: 1000px;
	margin: auto;
	padding: 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
 	-moz-border-radius:5px;
}
#logo{
	 width: 200px;
  	height: 50px; 
  	float: left;
}
#title {
	color: orange;
	font-family: "Comic sans MS";
	text-align: center;
	font-size: 30px;
	margin: auto;
}	
#logout{
	color:black;
	font-family: Helvetica;
	font-size: 10px;
	float: right;
}
#fleche{
	width: 20px;
	height:20px;
	float: right;
	padding: 10px;
}

